# ===========================
# Node / npm / Yarn
# ===========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# ===========================
# Expo / React Native
# ===========================
.expo/
.expo-shared/
dist/
web-build/
android/
!patches/expo-modules-core/android/
!patches/expo-modules-core/android/**
!patches/expo-modules-core/android/src/main/java/expo/modules/kotlin/jni/JavaScriptValue.kt
!patches/expo-modules-core/android/src/main/java/expo/modules/kotlin/views/decorators/CSSProps.kt
!patches/expo-modules-core/android/src/main/java/expo/modules/rncompatibility/ReactNativeFeatureFlags.kt
ios/
build/
*.apk
*.aab

# ===========================
# Environment / secrets
# ===========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ===========================
# macOS / system junk
# ===========================
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

# ===========================
# VSCode / IDEs
# ===========================
.vscode/
.idea/
*.iml

# ===========================
# Temporary / cache
# ===========================
*.log
*.tmp
*.temp
*.swp
*.swo
.cache/
coverage/
.expo-dev-client/
metro-cache/
babel-cache/
jest-cache/
tmp/
